/* BANNER DIV RULES*/

#banner-div{
	height: 7%;
	min-height: 30px;
}


/* LOGO DIV RULES*/

#logo-image{
	left: 0;
    margin: auto;
    position: absolute;
    right: 0;
}

#top-left-header *{
	text-align: center;
}

#bottom-left-header{
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 100%;
	text-align: center;
}

#bottom-left-header *{
	display: inline-block;
}

/*CHAT DIV RULES*/


#chat-div{
    height:80%;
	overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
         
}

#chat-input-div{
	height: 6%;
	background-color: rgba(255, 255, 255, 0.6);
    border-color: rgba(255, 255, 255, 0.6);
	position: absolute;
	width: 75%;
	bottom: 0px;
    border-radius: 10px;
    margin-left: 1%;
}


#chat-input-div2{
	height: 6%;
	background-color: rgba(255, 255, 255, 0.6);
    border-color: rgba(255, 255, 255, 0.6);
	position: absolute;
	width: 77%;
	bottom: 0px;
    border-radius: 10px;
  
}


#chat-input{
	border: 0%;
	color: darkslategray;
	padding-left: 2vw;
	background-color: rgba(255, 255, 255, 0.0);
    border-color: rgba(255, 255, 255, 0.0);
	width: 100%;
	bottom: 0;
	left: 0;
	padding-left: 2vw;
	position: absolute;
    
    
    
}

#send-button{
    background-color: #449EB1;
    color: #ffffff;
    display: inline-block;
    position: absolute;
    width: 22%;
    right: .5vw;
    height: 6%;
    border-radius: 10px;
    bottom:0px;
}


#send-button2{
    background-color: #449EB1;
    color: #ffffff;
    display: inline-block;
    position: absolute;
    width: 22%;
    right: .5vw;
    height: 6%;
    border-radius: 10px;
    bottom:0px;
}

#generate-button{
    background-color: rgba(3, 47, 86, 0.7); !important;
    color: #ffffff;
    display: inline-block;
    position: center;
    height: 20%;
    white-space: normal;
    width: 90% !important;
    margin: 10px 10px 10px 0px;
    border-radius: 10px;
    
}


.user-text{
	float: right;
	background-color: rgba(255, 255, 255, 0.4);
	margin-right: 70px;
    
}

.watson-text{
	background-color: rgba(255, 255, 255, 0.1);
	margin-left: 70px;
}

.chat-bar-text{
    display: inline-block;
    padding: 10px;
    color: white;
    max-width: 80%;
    position: relative;
}

.chat-bar_WATSONRATING > .chat-bar-text{
	max-width: 75%;
}

.watson-pointer{
	border-right: 10px solid rgba(255, 255, 255, 0.1);
	margin-left: -10px;
	left: 0;
}

.user-pointer{
	border-left: 10px solid rgba(255, 255, 255, 0.4);
	margin-right: -10px;
	right: 0;
}

.chat-bar-pointer {
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    display: inline-block;
    height: 0;
    width: 0;
    position: absolute;
	top: 0;
	margin-top: 10px;
}


/* A class used to hide chatboxes by JS when Waton or the user speaks.*/
.chat-bar_HIDDEN {
    display: none;
    clear: both;
    margin-top: 2px;
    margin-bottom: 2px;
    opacity: 0;
    transform: translateY(-40px);
}
    
/* Class used to make chat box appearances less jarring.*/  
.chat-bar_TRANSITION{
	visibility: hidden;
	clear: both;
	opacity: 0;
    transform: translateY(-40px); 
}


.chat-bar_WATSON{
	float: left;
}

.chat-bar_USER{
	float: right;
}

.chat-bar{
	clear: both;
	transition: 0.4s;
	visibility: visible;
    opacity: 1;
    margin-top: 2px;
    margin-bottom: 2px;
    position: relative;
}

.chat-bar_USER > .chat-bar-image {
    right: 0;
    top: 0;
}

.chat-bar-image{
	display: inline;
	margin: 0 10px 10px 10px;
	position: absolute;
}

.chat-bar-ratings{
	display: inline-block;
	position: relative;
}

.ratings-image{
	position: absolute;
	display: inline;
	cursor: pointer;
	margin-left: 5px;
}

.thumbs-up{
	bottom: 26px;
}

.thumbs-down{
	bottom: 3px;
}

/* Rule that defines the layout of the div that is displayed while Watson thinks of a response*/
.loader {
  width: 100%;
  text-align: center; 
  /* Content is centered the gif does not appear on the left.*/
  float: left;
}

/* SUGGESTIONS DIV RULES */

#options-menu{
	position: absolute;
	top: 30px;
	right: 25px;
}

#splitter{
	margin-bottom: 50px;
	color: #D7D7D7;
}

#questions-div{
	top: 30%;
	color: #ACACAC;
	position: relative;
	height: 45%;
}

#questions-div > button{
	background-color: #2f566d !important;
    height: 20%;
    white-space: normal;
    width: 90% !important;
    margin: 10px 10px 10px 0px;
    border-radius: 10px;
    color: #FFFFFF;
}

#questions-div2 > button{
	background-color: rgba(3, 47, 86, 0.3); !important;
    height: 20%;
    white-space: normal;
    width: 90% !important;
    margin: 10px 10px 10px 0px;
    border-radius: 10px;
    color: #FFFFFF;
}







#right-div{
    
     
    margin:0px auto;
    text-align:center;
}

#right-div > img{
    vertical-align:middle;
    
}



/*DROP DOWN RULES */

#dropdown-div {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #285469; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#30374B, #285469); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#30374B, #285469); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#30374B, #285469); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#30374B, #285469); /* Standard syntax */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* MISC RULES */

#title{
	text-align: center;
	color: white;
}

/* MEDIA RULES FOR LITTLE SCREENS */

/* Thin Screens */
@media screen and (max-width: 500px){
	.chat-bar-image {
    	margin: 0 5px 10px;
	}
	.chat-bar-image > img{
		height: 30px;
		width: 30px;
	}
	.watson-text{
		margin-left: 46px;
	}
	.user-text{
		margin-right: 46px;
	}
}

/* Short Screens */
@media screen and (max-height: 500px){
	#chat-div{
		height: calc(74% - 30px);
	}
	#chat-input-div{
		height: 15%;	
	}
}







